.global {
    width: 60%;
}

.text {
    background-color: #4B39A4;
    text-align: center;
    color: white;
    position:relative;
}

.text .subText {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}